<ion-content>
  <!-- <form (ngSubmit)="updateProfile()">
    <input type="text" [(ngModel)]="updates.firstName" name="firstName" placeholder="First Name" />
    <input type="text" [(ngModel)]="updates.lastName" name="lastName" placeholder="Last Name" />
    <input type="email" [(ngModel)]="updates.email" name="email" placeholder="Email" />
    <button type="submit">Update Profile</button>
  </form> -->
  <!-- <ion-button (click)="signInWithGoogle()">Sign In with Google</ion-button>
  <ion-button (click)="loginWithFacebook()">Login with Facebook</ion-button>
  <ion-button (click)="signOut()">Logout</ion-button>
</ion-content> -->

<form (ngSubmit)="login()">
  <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
  <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
  <button type="submit">Login</button>
</form>
<!-- <button (click)="loginWithGoogle()">Login with Google</button>
<button (click)="loginWithFacebook()">Login with Facebook</button> -->
  <ion-button (click)="signInWithGoogle()">Sign In with Google</ion-button>
  <ion-button (click)="loginWithFacebook()">Login with Facebook</ion-button>
